* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

body {
  text-align: center;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

header,
nav,
main,
aside,
footer {
  padding: 20px;
}

header {
  background-color: tomato;
  height: 60px;
}

nav {
  background-color: cadetblue;
  flex-shrink: 0;
}

main {
  background-color: goldenrod;
  flex-grow: 1;
}

aside {
  background-color: darkgreen;
  flex-shrink: 0;
}

footer {
  background-color: gray;
  height: 100px;
}

.columns {
  display: flex;
  flex-grow: 1;
}

p {
  margin: 5px;
}
