* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

body {
  text-align: center;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  /* flex-grow: 1; */
}

header,
nav,
main,
aside,
footer {
  padding: 20px;
  color: white;
}

header {
  background-color: #d9534f;
  height: 60px;
}

nav {
  background-color: #5bc0de;
  width: 100px;
  flex-shrink: 0;
}

main {
  background-color: #f0ad4e;
  flex-grow: 1;
}

aside {
  background-color: #5cb85c;
  flex-shrink: 0;
  width: 100px;
}

footer {
  background-color: #555;
  height: 100px;
}

.columns {
  display: flex;
  flex-grow: 1;
}

p {
  margin: 5px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }

  nav,
  aside {
    width: 100%;
  }
}
