* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  display: grid;
  grid-template-rows: 60px 1fr 100px;
  height: 100vh;
}

header,
nav,
main,
aside,
footer {
  padding: 20px;
}

header {
  background-color: tomato;
}

nav {
  background-color: cadetblue;
}

main {
  background-color: goldenrod;
}

aside {
  background-color: darkgreen;
}

footer {
  background-color: gray;
}

.columns {
  display: grid;
  grid-template-columns: 100px auto 100px;
}
